$orange70:#D45400;
$orange60:#EB5E00;
$orange50:#FF6B00;
$orange40:#FF8029;
$orange30:#FF964E;
$orange0: #FFA500;

$black:#000000;

$grey90:#242424;
$grey80:#363636;
$grey60:#666666;
$grey50:#808080;
$grey40:#AEAEAE;
$grey30:#D6D6D6;
$grey20:#EAEAEA;
$grey10:#F5F5F5;
$grey:  #f2f2f2;
$grey100:#808080;

$white:#FFFFFF;

$error:#FF0000;

$bgGrayBlur: rgba(167, 167, 167, 0.702);
$greenColor: #26734d;